<!DOCTYPE html>
<html>
	<head>
		<title>links</title>
		<meta name="author" content="da0">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="http://deliris.net/thoughts/labyrinth/style.css" type="text/css">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script>
			  $( function() {
				$( "#source" ).autocomplete({
					  source: "/sources"
					});
	
			  } );
			  </script>
	</head>
	
	<body>
		<header>
			<h1>Editing links for cell {{.Id}}</h1>
		</header>

		<main>
			{{$cell := .}}
			<article class="card">
				<ul class="card-link-list">Links
					{{range .Links}}
					<li class="card-link">{{.Text}}
						<form action="/cell/{{$cell.Id}}/unlinkCells" method="POST">
							<input type="hidden" id="cellToUnlink" name="cellToUnlink" value="{{.Id}}">
							<input type="submit" value="Delete">
						</form>
					</li>
					{{end}}
				</ul>
			</article>
			
			<form action="/cell/{{.Id}}/linkCell" method="POST">
				<label for="title">New link:</label><br>
				<input type="text" id="cellToLink" name="cellToLink"><br>

				<input type="submit" value="Submit">
			</form>
		</main>

	</body>
</html>
